<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	


	<!-- The command -->
  	<extension
  		point="org.eclipse.ui.commands">
  		<command
            name="Print Message"
            id="org.spg.refactoring.commands.printMessageCommand">
       </command>
  		<command
            name="Refactor Command"
            id="org.spg.refactoring.commands.refactorCommand">
       </command>
  		<command
            name="Show City Command"
            id="org.spg.refactoring.commands.showCityCommand">
       </command>
	   <command
	          id="org.spg.refactoring.commands.newProjectCommand"
	          name="New Project">
	   </command>
	   <command
	          id="org.spg.refactoring.commands.copyProjectCommand"
	          name="Copy Project">
	   </command>
    <command
          id="org.spg.refactoring.commands.analyseProjectCommand"
          name="Analyse Project">
    </command>  	  
    <command
          id="org.spg.refactoring.commands.loggerCommand"
          name="Log">
    </command>  	  
	</extension>
	
	<!-- The handler -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.spg.refactoring.handlers.PrintMessageHandler"
            commandId="org.spg.refactoring.commands.printMessageCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.ProjectRefactorHandler"
            commandId="org.spg.refactoring.commands.refactorCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.NewProjectHandler"
            commandId="org.spg.refactoring.commands.newProjectCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.CopyProjectHandler"
            commandId="org.spg.refactoring.commands.copyProjectCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.ProjectVisualiserHandler"
            commandId="org.spg.refactoring.commands.ShowCityCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.ProjectAnalyserHandler"
            commandId="org.spg.refactoring.commands.analyseProjectCommand">
      </handler>
      <handler
            class="org.spg.refactoring.handlers.LoggerHandler"
            commandId="org.spg.refactoring.commands.loggerCommand">
      </handler>
   </extension>
   
	<!-- The menu -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
      	<separator
             name="org.spg.refactoring.separator1" 
             visible="true">
         </separator>
         <menu
               label="Modernisation">
            <command
                  commandId="org.spg.refactoring.commands.printMessageCommand"
                  label="Print Message"
                  mnemonic="P"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.spg.refactoring.commands.refactorCommand"
                  label="Refactor Project"
                  mnemonic="R"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.spg.refactoring.commands.ShowCityCommand"
                  label="Show City"
                  mnemonic="S"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>            
            <command
                  commandId="org.spg.refactoring.commands.analyseProjectCommand"
                  id="P"
                  label="Analyse Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="org.spg.refactoring.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.spg.refactoring.commands.newProjectCommand"
                  label="Create new project"
                  mnemonic="N"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.spg.refactoring.commands.copyProjectCommand"
                  label="Copy project"
                  mnemonic="C"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.cdt.core.cnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.spg.refactoring.commands.loggerCommand"
                  label="Log "
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
